                    <div class="col-md-3 hidden-sm">
                        <div class="footer-tweets">
                            <div class="footer-title">
                                <h3>Latest tweets</h3>
                            </div>
                            <div class="twitter-feed">
                                <div class="twitter-article">
                                    <div class="twitter-img">
                                        <a href="#">
                                            <%= image_tag 'twitter/twitter-1.png' %>
                                        </a>
                                    </div>
                                    <div class="twitter-text">
                                        <p>Raboda Fashion #Magento #Theme comes up with pure white and grey, which great show your products. Check it: </p>
                                        <a href="#">https://t.co/iu0OYBwti8</a>
                                        <div class="twitter-time">
                                            <a href="#">16h</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="twitter-article">
                                    <div class="twitter-img">
                                        <a href="#">
                                            <%= image_tag 'twitter/twitter-1.png' %>
                                        </a>
                                    </div>
                                    <div class="twitter-text">
                                        <p>Raboda Fashion #Magento #Theme comes up with pure white and grey, which great show your products. Check it: </p>
                                        <a href="#">https://t.co/iu0OYBwti8</a>
                                        <div class="twitter-time">
                                            <a href="#">16h</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>