<%#= link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_url(@order, products_path), target: "_blank")%>

<!-- <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business" value="thap.spdn-facilitator@gmail.com">
<input type="hidden" name="item_name_1" value="Aggregated items">
<input type="hidden" name="amount_1" value="3.00">
<input type="hidden" name="item_name_2" value="Minh Aggregated items">
<input type="hidden" name="amount_2" value="5.00">
<input type="submit" value="PayPal" formtarget="_blank">
</form> -->
