      <!-- service area start -->
        <div class="service-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-service">
                            <div class="sirvice-img">
                              <a href="http://mp3.zing.vn/">
                              <%= image_tag 'service/icon-1.png' %>
                              </a>
                            </div>
                            <div class="service-info">
                            <a href="http://mp3.zing.vn/"><h3>SAMSUNG</h3></a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service">
                            <div class="sirvice-img">
                             <a href="https://www.youtube.com/watch?v=U9VDCjDM97M"><%= image_tag 'service/icon-1.png' %></a>
                            </div>
                            <div class="service-info">
                                <a href="https://www.youtube.com/watch?v=U9VDCjDM97M"><h3>CANON</h3></a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service">
                            <div class="sirvice-img">
                              <%= image_tag 'service/icon-1.png' %>
                            </div>
                            <div class="service-info">
                                <h3>APPLE</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service area end -->
