<h1><%= @object.title %></h1>
<%= image_tag "http://sv1.upsieutoc.com/2017/08/16/how-to-create-a-blog-page-in-WordPress.png" %>
<%= truncate(@object.body, length: 200, escape: false) %>
<br >
<a href="#">Go to blog</a>
